@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Gone too Soon</h1>

</div>

<body>

    <h1>Tribute song to my Neice!</h1>

    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wKBhAG2SNKE" title="Daughtry - Gone Too Soon (Lyrics)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    </div>

    <div class="footer">
        <p>May Her Soul Rest In Peace</p>
    </div>


</body>




